- name: Playbook name is first-playbook
  hosts: all
  tasks:
  - name: Print hello from task1
    ansible.builtin.debug:
      msg: Hai from task1 of play1
  - name: Print hai from task2
    ansible.builtin.debug:
      msg: Hai from task2 of play1
- name: Playbook name is second-playbook
  hosts: all
  tasks:
  - name: Print hello from task2
    ansible.builtin.debug:
      msg: Hai from task1 . of play2
  - name: Print hai from task2
    ansible.builtin.debug:
      msg: Hai from task2 of play2