- name: demo on variables
  hosts: all
  vars: #global variable
    URL: play.google.com
 # vars_prompt:
 #  - name: URL
 #    prompt: Enter URL 
 #    private: no 
  tasks:
    - name: printing URL
      ansible.builtin.debug:
       msg: url is that we print is {{URL}}

    - name: printing URL with quotes
      ansible.builtin.debug:
       msg: "{{URL}}"
      vars:   #local variable
        URL: task.google.com

   # - name: printing URL from CLI
   #  ansible.builtin.debug:
   #    msg: URL from CLI is {{CLI_URL}}

# CLI varibale > local variable >  file variables > prompt variables > global variable