- name: demo on variables
  hosts: all
  vars: #global variable
    URL: play.google.com
  vars_files:
    - prod-vars.yml
  tasks:
    - name: printing URL
      ansible.builtin.debug:
       msg: url is that we print is {{URL}}

    - name: printing URL with quotes
      ansible.builtin.debug:
       msg: "{{URL}}"
      vars:   #local variable
        URL: task.google.com
    
    - name: URL for this env is
      ansible.builtin.debug:
       msg: "{{ENV}}"

    
# CLI varibale > local variable > file variables > global variable